.photo-grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra le immagini verticalmente */
    gap: 70px;
}

.photo-row {
    display: flex;
    flex-direction: column; /* Visualizza le immagini in una colonna */
    gap: 40px; /* Aumenta lo spazio tra le righe di immagini */
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Stile per l'immagine di sfondo */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/contents/background.png') no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px); /* Sfumatura dell'immagine */
    z-index: -2; /* Assicurati che l'immagine sia dietro al contenuto */
}

#img-fluid {
    display: none;
}

.photo-container:hover {
    transform: scale(1.05); /* Ingrandisce leggermente l'immagine al passaggio del mouse */
}

/* Global Styles */
.photo-container {
    margin: 20px; /* Increase margin around images */
}

.photo {
    max-width: 100%; /* Ensure images are not wider than their container */
    height: auto; /* Maintain aspect ratio */
    margin: 10px 0; /* Add vertical margin for spacing */
}

/* Responsive Styles for Mobile Devices */
@media (max-width: 768px) {
    .photo-container {
        margin: 20px; /* Existing top and bottom margin */
        margin-left: 40px; /* Increase left margin to create more space */
    }

    .photo {
        max-width: 90%; /* Reduce image size for mobile */
        margin: 15px auto; /* Increase margin and center images */

    }

    .photo-grid, .photo-row {
        gap: 20px; /* Increase gap between images */
    }
}

.btn-comment {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative;
    top: -10px; /* Adjust as needed */
    width: 10%;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px 10px; /* Adjust padding as needed */
    font-size: 20px; /* Adjust font size as needed */
}

.btn-comment i {
    font-size: 10em;
    border: 4px;
    border-color: #000;
}

.btn-comment:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
p {
    text-align: center;
    font-size: 18px; /* Dimensione del carattere */
    font-style: italic; /* Stile del carattere */
    color: #333; /* Colore del testo */
    margin-top: 10px; /* Spazio sopra il testo */
}
